@media only screen and (min-width: 20rem) {

  header,
  main,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 24px auto;
  }

  header span {
    font-size: 2rem;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    margin-left: auto;
    /* border-bottom: solid 1px var(--color5); */
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .card {
    margin-top: 0;
  }

}