@media only screen and (min-width: 20rem) {

  header,
  main,
  footer {
    max-width: 1200px;
    margin: 10px auto;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
  }

  header {
    display: flex;
    grid-template-columns: 24px auto;
  }

  header span {
    font-size: clamp(1rem, 1vw + 1.5rem, 3rem);
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    margin-left: auto;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .card {
    margin-top: 0;
  }

  .list {
    font-size: 1rem;
    padding: 0.2rem;
  }

  .list section,
  .list h3,
  .list p,
  .list a {
    margin: 0;
    padding: 0.2rem 1rem;
  }


}