@media only screen and (min-width: 40rem) {

  header,
  main,
  footer {
    max-width: 1200px;
    margin: 10px auto;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1rem;
  }

  header {
    display: flex;
    grid-template-columns: 24px auto;
  }

  header span {
    font-size: clamp(1rem, 1vw + 1.5rem, 3rem);
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    margin-left: auto;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .hero p {
    font-size: 4.5rem;
    right: 100px;
  }

  .hero a {
    font-size: 4rem;
    bottom: 55px;
    right: 100px;
  }

  .hero img {
    width: 1200px;
    height: auto;
    overflow: hidden;
  }

  .card {
    margin-top: 0;
  }

  .list {
    font-size: 1rem;
    padding: 0.2rem;
  }

  .list section,
  .list h3,
  .list p,
  .list a {
    margin: 0;
    padding: 0.2rem 1rem;
  }

  #allplaces section {
    grid-template-areas:
      "photograph name"
      "photograph description"
      "photograph address"
      "button button";
  }

  #allplaces figure {
    width: 300px;
    height: 200px;
  }

  .hover:hover {
    box-shadow: 0 0 50px #333;
  }

  #allplaces h2 {
    font-size: large;
    text-align: start;
    margin: 1rem;
  }


  #allplaces p {
    font-size: medium;
  }

  #allplaces address {
    font-size: medium;
  }


  .visits {
    font-size: medium;
  }
}