:root {
  --primaryColor: rgb(5, 42, 80);
  --secondaryColor: rgb(5, 42, 80);
  --backgroundColor: rgb(5, 42, 80);
  --textColor: rgb(5, 42, 80);

  --color1: rgb(5, 42, 80);
  --color2: rgb(255, 255, 255);
  --color3: rgb(57, 57, 57);
  --color4: rgb(242, 156, 31);
  --color5: rgb(221, 221, 221);
}

/*----------------Site Wide--------*/
* {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

a,
a:visited {
  color: inherit;
}

/*---------------------------Header*/
header {
  display: flex;
  flex-wrap: nowrap;
  /* grid-template-columns: 24px auto 44px; */
  padding: 5px 0 5px 0px;
  align-items: center;
  border-bottom: solid 1px var(--color3);
  gap: 8px;
  max-width: 1200px;
  margin: 0 auto;
}

header img {
  display: block;
  width: auto;
  height: 96px;
}

header span {
  font-size: 1.6rem;
  color: var(--color1);
}

/*-----------------------Hamburguer --------------*/
.hamburger {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--color1);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.directory {
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--color1);
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}

/*---Navigation------*/
.navigation {
  display: none;
}

.navigation.show {
  display: block;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation a {
  display: block;
  padding: .8rem 10px;
  color: var(--color1);
  text-decoration: none;
  border-bottom: solid 1px var(--color5);
}

.navigation li.current {
  background-color: var(--color5);
}

.navigation a:hover {
  background-color: var(--color4);
}

/*----main-----*/
.main {
  /* grid-template-columns: 1fr; */
  max-width: 1200px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: stretch;
  grid-gap: 5px;
  /* align-items: start; */

  section {
    text-align: center;
    border: 1px solid green;

    .contenedorImagen {
      display: block;
      padding: 3px;
      justify-self: center;
      border: 1px solid #fff;
      box-shadow: 0 0 1rem #555;
      width: 200px;
      height: 200px;
      align-content: center;
    }

    img {
      width: 100%;
      height: auto;
    }

    &>* {
      margin: 0.1rem;
    }
  }


}

.list {
  display: flex;
  flex-direction: column;

  section {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 0;
    padding: 0.25rem;

    &>* {
      margin: 0 1rem;
    }

    .contenedorImagen {
      display: none;
    }

    img {
      display: none;
    }

    h3 {
      font-size: 1rem;
    }

    &:nth-child(even) {
      background-color: #bbb;
    }
  }
}

.card {
  border: var(--color1) 1px solid;
  border-radius: 8px;
  background-color: var(--color2);
  overflow: hidden;
  margin-top: 12px;
}

.cardx p {
  padding: 8px;
  text-align: justify;
}

.cardx img {
  padding: 4px;
}

.cardx h2 {
  margin: 0;
  padding: 10px;
  background-color: var(--color1);
  color: var(--color2);
  height: 3rem;
  font-size: 1.2rem;
  align-content: center;
  text-align: center;
}



.courses-listx {
  display: block;
  text-align: center;
  padding: 0 8px;
}

.courses-listx section {
  overflow: hidden;
  border: 1px solid var(--color1);
  border-radius: 0 10px 0 10px;
  margin-top: 12px;
}

.courses-listx h3 {
  border-bottom: 1px solid var(--color3);
  height: 50px;
  align-items: baseline;
  margin: 0;
  padding: 15px 0 0 0;
}

.courses-listx p {
  text-align: center;
  margin: 10px 0 10px 0;
  padding: 0;
  display: block;
  width: 100%;
}

/*----Footer----*/
footer {
  background-color: var(--color5);
  padding: 1rem 10px;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  column-gap: 8px;
}

.social a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  width: 44px;
  height: 44px;
  border: solid 1px var(--color4);
  border-radius: 22px;
}

.social img {
  width: 24px;
  height: 24px;
}

.social a:hover {
  background-color: var(--color4);
}