@media only screen and (min-width: 20rem) {

  header,
  main,
  nav,
  footer {
    max-width: 1200px;
    margin: 0 auto;
  }

  header {
    grid-template-columns: 24px auto;
  }

  header span {
    font-size: 2rem;
  }

  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
    border-bottom: solid 1px #eee;
  }

  .navigation ul {
    display: flex;
  }

  .navigation a {
    border: none;
  }

  .grids {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }


  .courses-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    text-align: center;
  }

  .courses-list section {
    width: calc((100% - 60px) / 4);
  }
}